* {
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(57deg, rgb(63, 63, 141), rgb(98, 58, 207));
}
.left-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 2.3rem;
  font-weight: bold;
  width: 40%;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.right-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.right-nav input {
  border: none;
  border-radius: 5px;
  padding: 2px 4px;
  width: 90px;
  height: 25px;
  margin-top: 11px;
}
.right-nav button {
  border: none;
  border-radius: 5px;
  margin-left: 3px;
  padding: 3px 6px;
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin-top: 11px;
}
.right-nav button:hover {
  background-color: rgb(162, 158, 211);
}
.right-nav ul {
  display: flex;
}
.right-nav li {
  list-style: none;
  display: flex;
}
.right-nav a {
  padding: 14px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
.right-nav a:hover {
  color: rgb(162, 158, 211);
}
.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.leftslide {
  width: 50%;
  height: auto;
}
.leftslide img {
  width: 500px;
  height: 500px;
  padding-left: 90px;
}
.rightside {
  width: 50%;
  height: auto;
  padding: 70px 30px;
}
.rightside h1 {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(8, 8, 117);
  font-size: 4rem;
}
.rightside p {
  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(3, 3, 95);
}
.rightside button {
  border: none;
  border-radius: 7px;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  background: linear-gradient(57deg, rgb(63, 63, 141), rgb(98, 58, 207));
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(24, 20, 20, 0.19);
  margin-top: 13px;
}
.rightside button p {
  color: white;
}
.rightside button:hover {
  transform: scale(1.1);
  background: linear-gradient(62deg, rgb(150, 150, 218), rgb(29, 29, 116));
  transition-duration: 0.6s;
  cursor: pointer;
}
.foot {
  width: 100%;
  height: 40px;
  background-color: rgb(1, 30, 58);
  text-align: center;
  bottom: 0;
  left: 0;
}
.foot p {
  color: white;
  cursor: pointer;
  display: inline-block;
}
.box {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 150px;
  background: linear-gradient(62deg, rgb(150, 150, 218), rgb(29, 29, 116));
  clip-path: polygon(0%40%, 100%0%, 100%100%, 0%100%);
}
